html {
  background: #181830;
  color: #e1feff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hr__styled {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255 255 255 / 75%), rgba(0, 0, 0, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

.radius {
  border-radius: 50%;
}

.plus {
  cursor: pointer;
  --b: 4px;
  /* the thickness */
  width: 33px;
  /* the size */
  aspect-ratio: 1;
  /* the outer space */
  display: inline-block;
}

.plus.saving {
  border: 8px solid #419b79;
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #419b79 90deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));
}

.plus.income {
  border: 8px solid #58ebc6;
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #58ebc6 90deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));
}

.plus.expense {
  border: 8px solid #f1a1a8;
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #f1a1a8 90deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));
}

.plus.installment_category {
  border: 8px solid #ffbe87;
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #ffbe87 90deg, #fff 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.login-wrapper {
  margin-top: 5em;
  font-size: 1.3em;
}

.login-wrapper span {
  color: white;
}

.login-wrapper form {
  width: 25%;
  margin-top: 1.3em;
}

.login-wrapper form p {
  font-size: 1.2em;
}

.login-wrapper input {
  color: white;
}

.login-wrapper button {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  height: 40px;
  font-weight: 600;
  color: #181830;
  cursor: pointer;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: right;
}

.logout button {
  border-radius: 5px;
  margin: 10px 130px 0 0;
  font-size: 1.2em;
  font-weight: 500;
  color: black;
  padding: 3.5px;
  cursor: pointer;
  width: 90px;
}

.period-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.period-filter button {
  margin: 0 5px;
  font-weight: bold;
}

.period-filter select {
  text-align: center;
  width: 150px;
  font-family: 'Fira Code Retida', Consolas, monospace, Arial;
}

.container {
  width: 100%;
}

.section_transactions {
  display: flex;
}

ul {
  flex: 1;
  margin: 5px;
}

ul li {
  border-radius: 4px;
  margin: 5px 0;
  padding-left: 5px;
}

.transaction__actions button {
  cursor: pointer;
  margin-right: 10px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid #ffe4c4;
  background: #fffff0;
}

.transaction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #000;
}

.transaction__day {
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.transaction__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 7 1 0%;
}

.transaction__info-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.transaction__info-category {
  font-weight: bold;
  font-size: 1.1rem;
  flex: 1;
}

.transaction__info-description {
  flex: 1;
}

.transaction__info-value {
  text-align: right;
  font-size: 1.5rem;
  flex: 1;
}

.transaction__actions {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  justify-content: flex-end;
}

.transaction__actions span {
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 10px;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 20px 0;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #e1feff;
}

.installments-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.installments-group li {
  width: 96%;
}

.resume .resume__item {
  font-size: 17px;
  color: black;
}

.savings_title,
.incomes_title,
.expenses_title {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.installments_title {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.installments-month-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Fira Code Retida', Consolas, monospace, Arial;
  margin-bottom: 20px;
}

#inst-btn-next-disabled,
#inst-btn-prev-disabled {
  cursor: not-allowed;
  background: black;
}

.installments-month-selector button {
  margin: 0 5px;
  font-weight: bold;
}

.installments-month-selected {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 5px 0 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.actions__input-field {
  margin-left: 10px;
  display: flex;
  flex: 1 1 0%;
}

.modal_type_expense,
.modal_type_earning {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal_type_expense {
  color: rgb(192, 57, 43);
}

.modal_type_earning {
  color: rgb(39, 174, 96);
}

input[type=radio]:disabled+span {
  color: rgba(0, 0, 0, .42);
}

.resume_balance_tooltip,
.resume_available_tooltip {
  position: relative;
  display: inline-block;
}

.balance_tooltip,
.available_tooltip {
  position: absolute;
  top: -26px;
  border-radius: 50%;
  font-weight: 600;
  color: darkslategrey;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}

.balance_tooltip {
  left: 35px;
}

.available_tooltip {
  left: 202px;
}

.resume_balance,
.resume_available,
.installment_cat_btn,
.savings_btn,
.incomes_btn,
.expenses_btn {
  position: relative;
  display: inline-block;
}

.installment_cat_btn .inst_cat_tooltip,
.savings_btn .saving_tooltip,
.incomes_btn .income_tooltip,
.expenses_btn .expense_tooltip {
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: -37px;
  left: 11%;
}

.installment_cat_btn .inst_cat_tooltip {
  width: 220px;
}

.savings_btn .saving_tooltip {
  width: 145px;
}

.incomes_btn .income_tooltip {
  width: 124px;
}

.expenses_btn .expense_tooltip {
  width: 134px;
}

.balance_tooltip_text,
.available_tooltip_text {
  visibility: hidden;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  top: -46px;
}

.balance_tooltip_text {
  left: 5px;
  width: 220px;
}

.available_tooltip_text {
  left: 159px;
  width: 110px;
}

.installment_cat_btn:hover .inst_cat_tooltip,
.savings_btn:hover .saving_tooltip,
.incomes_btn:hover .income_tooltip,
.expenses_btn:hover .expense_tooltip,
.resume_balance_tooltip:hover .balance_tooltip_text,
.resume_available_tooltip:hover .available_tooltip_text {
  visibility: visible;
}